* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  padding: 16px;
  border: 1px solid black;
  border-radius: 16px;
  display: grid;
}
form > div {
  display: grid;
  grid-template-columns: 150px auto 1fr;
}
.error {
  color: red;
}
